body{
	font-size: 100%;
	background: lightblue;
}

header, main, footer{
	min-width: 855px;
}

header .container, main .container, footer .container{
	max-width: 855px;
	margin: auto;
}

header{
	background: white;
	overflow: auto;
}

header h1{
	float: left;
	width: 570px;
}

header nav{
	float: right;
	width: 285px;
}

main{
	background: white;
	overflow: auto;
}

.poem{
	float: left;
	width: 470px;
}

.poet{
	float: right;
	width: 385px;
}

footer{
	overflow: auto;
}

.contact{
	float: left;
	width: 470px;
}

.map{
	float: right;
	width: 385px;
}

img{
	border-radius: 80px;
	max-width: 50%;
	height: auto;
	border: 3px solid #ddd;
}

h1{
	/* use the Denk One font if it’s available, and if it’s not available,
		use the default sans serif font installed on the user’s system. */
	font-family: 'Montserrat', sans-serif;
	font-size: xx-large;
	color: pink;
}

h2{
	font-size: x-large;
}

